name: CI/CD Spring Boot

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: temurin

    - name: Build with Maven
      run: mvn clean install

    - name: Build Docker image
      run: docker build -t aisuragon/devopstp:latest .

    - name: Install Trivy
      run: |
        curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b /usr/local/bin

    - name: Scan Docker image with Trivy
      run: |
        trivy image --format table \
          --severity MEDIUM,HIGH,CRITICAL \
          --ignore-unfixed \
          --exit-code 0 \
          aisuragon/devopstp:latest

    - name: Login to DockerHub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Push Docker image to DockerHub
      run: docker push aisuragon/devopstp:latest

